<div class="search_container">
  <%= erb :_search_form, layout: false %>

  <div class="search-result search-result-template" style="display: none;">
    <img />
    <p class="search_results"></p>
  </div>

  <div class="search_section">

  </div>

</div>
